.details-page {
    height: calc(100vh - 41px);
}

.details-image-box {
    position: relative;
    height: 100%;
}

.details-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details-image-content {
    position: absolute;
    height: 15rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.01) 92%);
    width: 100%;
    inset: auto auto 0rem auto;
    z-index: 2;
}

.details-image-content button{
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: .3rem 1rem;
}
.details-image-content button:hover{
    transform: scale(1.20);
}

.details-image-content button:active{
    transform: scale(.99);
    background-color: var(--brand-brown);
}

.range-label{
    cursor: pointer;
    border: 1.5px solid var(--brand-brown2);
    border-radius: 8px;
}

.range-label:hover:active{
    background-color: var(--brand-white);
}

.range-label li{
    background-color: var(--brand-white);
    border:1px thin black ;
}


.d-flex {
    display: flex;
}



.d-column {
    flex-direction: column;
}
